<h3>￼Connecting businesses, communities and the tech talent pipeline</h3>

<div class="links col-md-12">
  <%= link_to "Learn More", learn_more_path %>
  <%= link_to "Sign Up", signup_path %>
  <%= link_to "Sign In", new_user_session_path %>
</div>

<div class="heading-1 col-md-6">
  <h3>How LaShana Did It</h3>
</div>
<div class="heading-2 col-md-6">
  <h3>How kickStater Did It</h3>
</div>

<div class="video-1 embed-container col-md-6">
  <%= YoutubeHelper.embed("https://www.youtube.com/watch?v=ZzQ3eBerHfM") %>
</div>
<div class="video-2 ember-container col-md-6">
  <%= YoutubeHelper.embed("https://www.youtube.com/watch?v=ZzQ3eBerHfM") %>
</div>
