<% content_for :footer do %>
<%= javascript_include_tag "rate_calculator" %>
<% end %>
<div class="mod-heading tools">
  <h1>Tools/Resources</h1>
</div>

<div class="mod-content">
  <div class="layout-wrap icon-check">
    <div class="col">
      <h2>The Case for Businesses</h2>
      <p>Meaningful work is essential to human flourishing and to America’s promise of upward mobility and civic equality, while tapping the full talents of our people is essential for productive and inclusive economic growth. The gradual erosion of such work for many in the US economy over the past 30 years threatens both America’s promise and economic vitality.</p>
      <p>Every day that goes by without filling an open position costs a business $434 on average. This number is likely higher for IT jobs which take an average of 95 business days to fill - higher than the overall average. Committing to TechHire means access to an expanded hiring pool with qualified candidates who are ready to work, but may have previously been overlooked.</p>
    </div>

  </div>
</div>

<div class="mod-content">
  <div class="layout-wrap">
    <h2>Find Out How Much Your Open Positions Are Costing You</h2>
    <form id="rate-calculator">
      <p>
        <span class="leading-dollar"> $ </span>
        <span class="calc-group">
          <label for="calculator_rate">Daily Rate:</label>
          <input type="text" name="calculator[rate]" class="calc-input calc-rate" value="434">
        </span>

        <span> X </span>

        <span class="calc-group">
          <label for="calculator_positions"># of Open Positions:</label>
          <input type="text" name="calculator[positions]" class="calc-input calc-positions" value="1">
        </span>

        <span> X </span>

        <span class="calc-group">
          <label for="calculator_positions"># of Days Unfilled:</label>
          <input type="text" name="calculator[days]" class="calc-input calc-days" value="1">
        </span>

        <span> = </span>

        <span class="calc-group">
          <label for="calculator_total">Total Cost:</label>
          <input type="text" name="calculator[days]" class="calc-total" readonly value="$434.00">
        </span>
      </p>
      <small>Source: CEB Corporate Leadership Council</small>
    </form>
  </div>
</div>

<div class="mod-content yellow">
  <div class="layout-wrap">
    <div class="two-columns">
      <div class="col icon-case">
        <h2>Case Study: Xpanxion</h2>

        <p>
          Xpanxion is an enterprise software consulting firm with locations in smaller towns throughout
          the United States. In order to maintain offices outside of traditional tech centers, Xpanxion has invested
          heavily in training and career development, resulting in a strong supply of quality, local talent.
          <a href="<%= case_study_path(id: "xpanxion") %>">Read about Xpanxion's training strategy.</a>
        </p>
      </div>

      <div class="col icon-case">
        <h2>Case Study: Rural Sourcing Inc. (RSI)</h2>

        <p>
          Rural Sourcing is a software consultancy committed to solving the "outsourcing crisis" by bringing
          tech jobs back to American communities. RSI helps give tech employees the flexibility to live where
          they want while also making investments back into local economies.
          <a href="<%= case_study_path(id: "rural_sourcing") %>">Read about RSI's talent sourcing strategy.</a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="mod-content">
  <div class="layout-wrap icon-case">
    <h2>Case Study: Capital One</h2>
    <div class="col">
      <h3>Building a 21st Century Workforce Through Training</h3>

      <p>To expand the tech talent pipeline, Capital One has committed to a hiring approach that requires demonstrated skill for virtually all coding and programming jobs. Capital One is hiring thousands of new technology and digital roles.
      </p>

      <p>
        <a href="#" class="content-dropdown-toggle" data-dd-target="#capital-one-content">See how Capital One helped Eric and Cory.</a>
      </p>


      <div class="content-dropdown" id="capital-one-content">
        <p><strong>Eric Greise</strong>, of Richmond, Virginia, has worked at Capital One as a manager in an operations center in Virginia for several years. This past fall, he received a scholarship from Capital One to complete a Nanodegree from the online university Udacity to formally teach him the programming skills needed for building modern digital applications.
      </p>

      <p>
        He is looking forward to graduating from the program soon and recently spent a day immersed with one of Capital One’s API development teams seeing how his skills can be applied. Upon graduation, Eric is planning to apply for a full-time junior software engineering role at Capital One.
      </p>

      <p>
        <strong>Cory Woods</strong>, of Richmond, Virginia, joined Capital One in 2014 as an intern through Capital One’s Autism@Work program, an internship program that provides on-the-job technical training and specialized support for individuals on the spectrum.
      </p>
      <p>
        While working as a system tester, Cory received on-the-job training and mastered a variety of web-based testing applications and tools. He performed the broad array of technical tasks so well that he was hired as a full-time testing specialist just six months after starting his internship.
      </p>

      <p>
        Today, Cory serves as a mentor for others with autism spectrum disorders, through organizations like Courage to Succeed, where he provides advice about therapies, support groups and other resources to help individuals on the spectrum advance both in school and at work.
      </p>

      <p>
        It’s Cory’s personal goal to help others understand autism spectrum disorders, proving that these diagnoses don’t halt professional and personal objectives.
      </p>
    </div>
    </div>
  </div>
</div>

<div class="mod-content">
  <div class="layout-wrap icon-case">
    <h2>Private Sector Tools</h2>
    <h3>(click a company to learn more)</h3>
    <div class="col">
      <a href="#" class="content-dropdown-toggle" data-dd-target="#knack-content"><%= image_tag "knack_logo.png", class: "private-sector-tool-logo"%></a>
      <div class="content-dropdown" id="knack-content">
        <h3>Business Apps for TechHire Community Members</h3>
        <p>As a proud supporter of the White House TechHire initiative, <strong><a href="https://www.knack.it/">Knack</a></strong> made the commitment to provide the Knack Business App completely free to any employer, coding school, or community ready to identify, train, and hire job-seekers who are underrepresented in the tech field—minorities, women, veterans and economically and socially disadvantaged individuals—even if they have no higher education or work experience.</p>
        <div class="two-columns">
          <div class="col">
            <p>Knack makes smart mobile games that combine game theory, behavioral science, and proprietary big data algorithms to change the way people of all walks of life discover and broadcast their talents and tap into their potential.</p>
            <p>Knack not only helps job-seekers pinpoint their "knacks"—their skills, abilities, and strengths—all from the way they play Knack's mobile games, but it also matches them with job opportunities tailored to one's potential for success on the job, aiming to replace the traditional credentials and job experience requirements that erect barriers for many high-potential, but low-credentialed individuals.</p>
          </div>

          <div class="col">
            <p>Knack offers two apps:</p>

            <ol class="bulleted">
              <li><strong>What's Your Knack?</strong> uses smart mobile games to help job-seekers discover and broadcast their knacks and identify matching job opportunities based on their potential for success on the job.</li>
              <li><strong>Knack Business App</strong> helps employers attract, engage and spot high-potential individuals who've got the knack to do the job—even if they don't have higher education credentials or job experience.</li>
            </ol>

            <p>Leading Fortune 500 employers in the US and around the world, and numerous small and medium size businesses in every industry, have adopted Knack and are on the path to changing the way they spot high-potential talent.</p>
          </div>
        </div>
      </div>

    </div>
    <div class="col">
      <a href="#" class="content-dropdown-toggle" data-dd-target="#bwd-content"><%= image_tag "better_weekdays_logo.jpg", class: "private-sector-tool-logo"%></a>
      <div class="content-dropdown" id="bwd-content">
        <h3>Career Management Platform for TechHire Community Members</h3>
        <p><strong><a href="http://www.betterweekdays.com/">Better Weekdays</a></strong> is a St. Louis based job-matching platform that helps universities improve job placement outcomes of its graduates, and companies to hire them based on job compatibility and culture fit.</p>
        <p>Better Weekdays has committed to providing its pay-walled web and mobile career management platform free of charge for colleges and universities, Local Leaders, and other partners in TechHire communities to leverage and facilitate connections between employers and job seekers.</p>
        <p>The service will feature a dashboard that connects job seekers to resources to prepare for gainful employment, and allows employers to showcase their brands in a meaningful way to aspiring employees.</p>
      </div>
    </div>

    <div class="col">
      <a href="#" class="content-dropdown-toggle" data-dd-target="#linkedin-content"><%= image_tag "linkedin_logo.jpg", class: "private-sector-tool-logo"%></a>
      <div class="content-dropdown" id="linkedin-content">
        <h3>Economic Analysis to Aid Career Development</h3>
        <p>
        <a href="linkedin.com">LinkedIn</a> will draw from its Economic Graph data and work with interested communities to 1) help job seekers decide where to focus their skills development, 2) assist community partners to focus on the jobs that are most in-demand, and to 3) identify the workforce gaps to prepare for future investments.
        </p>
        <p>
        This may also include working with partners to track the career outcome of bootcamp and accelerator graduates, and working on curriculum development.
        </p>
        <p>
        LinkedIn will also work in support of the TechHire initiative to find better ways to connect talent to training programs and job seekers to employers.
        </p>
      </div>
    </div>

    <div class="col">
      <a href="#" class="content-dropdown-toggle" data-dd-target="#ceb-content"><%= image_tag "ceb_logo.jpg", class: "private-sector-tool-logo"%></a>
      <div class="content-dropdown" id="ceb-content">
        <h3>Recruitment Guidance for Employers</h3>
        <p>
        <a href="http://www.executiveboard.com/">CEB</a> will develop their own best practices playbook for employers with CEB guidance to private and public employers on how to recruit tech talent from non-traditional sources.
        </p>
        <p>
        CEB will also provide free labor market snapshots from CEB Talent Neuron to select communities involved in the TechHire Initiative in order to surface job and skill segments where talent supply-demand gaps create opportunity for local workforce innovation.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="mod-content">
  <div class="layout-wrap icon-sheet">
    <div class="col">
      <h2>Fact Sheet</h2>
      <p>On March 9, 2015, President Obama announced the creation of the TechHire initiative — a new campaign to work with communities to get more Americans rapidly trained for well-paying technology jobs.</p>
      <p><a href="https://www.whitehouse.gov/the-press-office/2015/03/09/fact-sheet-president-obama-launches-new-techhire-initiative" class="button">Download the Factsheet</a></p>
    </div>

    <div class="col">
      <div clas="embed-container">
        <!--<iframe frameborder="0" src="https://www.youtube-nocookie.com/embed/3iiXLXo2hic?rel=0&amp;showinfo=0"></iframe>-->
      </div>
    </div>
  </div>
</div>

<div class="mod-content yellow">
  <div class="layout-wrap">
    <div class="col">
      <h2>Opportunity<span class="opportunity-at">@</span>Work is currently coordinating with partners to develop access to resources that serve the following functions for employers:</h2>
      <ul class="bulleted">
        <li>Understanding of what characteristics predict success for a hire</li>
        <li>Access to a broader, more diverse pool of candidates</li>
        <li>Longer-term, dynamic pipeline planning</li>
        <li>Ability to select best candidates – including non-traditional and internal</li>
        <li>Ability to support any new hire in new role</li>
      </ul>
      <h3>We are still developing new partnerships related to these functions. Please <a href="/signup">be in touch</a> if you are interested in learning more.</h3>
    </div>
  </div>
</div>
