<div class="container">
  <div class="panel-body col-md-4">
    <ul class="nav navbar-nav">
      <li class="panel panel-info" id="dropdown">
        <a data-toggle="collapse" href="#dropdown-lvl1">
          <h3>Manage Administrators</h3><span class="caret"></span>
        </a>
        <div id="dropdown-lvl1" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="nav navbar-nav">
              <div class="btn-group inline">
                <%= link_to "Edit My Account", root_path, class: :btn %>
                <%= link_to "Add New Admin", root_path, class: :btn %>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <div class="company-statistics well">
      <div class="company-data">
        <h3 class="well-header">Company Data</h3>
        <div class="uncontacted-companies">
          Companies Not Yet Contacted: <%= Company.company_count_by_status("uncontacted") %>
        </div>
        <div class="contacted-companies">
          Contacted Companies: <%= Company.company_count_by_status("contacted") %>
        </div>
        <div class="confirmed-companies">
          Confirmed Companies: <%= Company.company_count_by_status("confirmed") %>
        </div>
        <div class="dead-companies">
          Companies No Longer Participating: <%= Company.company_count_by_status("dead") %>
        </div>
      </div>
      <div class="companies-by-city">
        <h3 class="well-header">Top TechHire Cities</h3>
        <% Company.company_count_by_city.each do |city, count|%>
        <div class="top-cities">
          <%= city %> : <%= count %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
<div class="admin-heading">
  <h3>Welcome To The Admin Dashboard</h3>
</div>
  <div class="col-md-8">
    <%= render 'uncontacted_cities' %>
  </div>
</div>
