<div class="row">
  <div class="col-md-3">
    <div class="panel panel-info text-center" id="dropdown">
      <a data-toggle="collapse" href="#dropdown-lvl1">
        <h3>Manage Administrators</h3><span class="caret"></span>
      </a>
      <div id="dropdown-lvl1" class="panel-collapse collapse">
        <div class="panel-body">
          <%= link_to "Edit My Account", edit_admin_user_path(current_user.id), class: "btn btn-primary" %><hr/>
          <%= link_to "Add New Admin", admin_users_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    <div class="well">
      <div class="company-data">
        <h3>Company Data</h3>
        <div class="uncontacted-companies">
          Uncontacted Companies: <%= Company.company_count_by_status("uncontacted") %>
        </div>
        <div class="contacted-companies">
          Contacted Companies: <%= Company.company_count_by_status("contacted") %>
        </div>
        <div class="confirmed-companies">
          Confirmed Companies: <%= Company.company_count_by_status("confirmed") %>
        </div>
        <div class="dead-companies">
          Inactive Companies: <%= Company.company_count_by_status("dead") %>
        </div>
      </div>
      <div class="companies-by-city">
        <h3>Top TechHire Cities</h3>
        <% Company.company_count_by_city.each do |city, count|%>
          <div class="top-cities">
            <%= city %> : <%= count %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-9">
    <div class="admin-heading">
      <h3>Welcome To The Admin Dashboard</h3>
    </div><hr/>
    <%= render 'uncontacted_cities' %>
  </div>
</div>
