<h3>Organizations</h3><br/>
<div class="input-group col-sm-6"> <span class="input-group-addon">Search</span>
  <input id="filter" type="text" class="form-control" placeholder="Type Search Here">
</div><hr>
<div class="panel panel-primary filterable">
  <div class="panel-heading">
    <h3 class="panel-title">Organizations</h3>
  </div>
  <table class="table tablesorter">
    <thead>
      <tr class="filters">
        <th><a class="form-control">ID</th>
        <th><a class="form-control">Organization</th>
        <th><a class="form-control">Contact</th>
        <th><a class="form-control">Title</th>
        <th><a class="form-control">City</th>
        <th><a class="form-control">State</th>
        <th><a class="form-control">Email</th>
        <th><a class="form-control">Status</th>
        <th><a class="form-control">Hiring?</th>
        <th><a class="form-control">#</th>
      </tr>
    </thead>
    <tbody class="searchable">
      <% @companies.each do |company| %>
        <tr>
          <td class="id"><%= company.id %></td>
          <td class="Organization"><%= link_to company.organization, admin_company_path(company.id) %></td>
          <td class="contact"><%= company.name %></td>
          <td class="contact-title"><%= company.title %></td>
          <td class="city"><%= company.city %></td>
          <td class="state"><%= company.state %></td>
          <td class="email"><%= company.email %></td>
          <td class="contacted"><%= company.status %></td>
          <td class="hiring"><%= company.hiring %></td>
          <td class="hire_count"><%= company.hire_count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
