<div class="row">
  <table class="table">
    <thead>
      <tr class="warning">
        <th data-field='body'>Body</th>
        <th data-field="Updated-time"> Updated Time</th>
        <th data-field="Edit/View">Edit/View</th>
      </tr>
    </thead>
    <tbody>
    <h3><%= link_to label, admin_static_pages_path(name) %></h3>
      <% instance_variable_get("@#{name}").each do |content| %>
        <tr id="table-row">
          <td><%= truncate(content.body, length: 30) %></td>
          <td><%= distance_of_time_in_words(content.updated_at, Time.now)%> ago</td>
          <td>
            <%= link_to "Edit", edit_admin_content_path(content), class: "btn btn-primary" %>
            <%= link_to "View", admin_content_path(content), class: "btn btn-info" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
