<div class="row">
  <h1>This is where you can upload pdfs</h1>
  <br>
  <%= form_for :pdf, url: admin_pdfs_path, :html => { :multipart => true , class: "form-horizontal" } do |f| %>
    <div class="form-group">
      <%= f.label :pdf_file, "Upload PDF", class:"col-sm-2 control-group lead" %>
      <%= f.file_field :pdf_file %>
      <br>
      <%= f.submit "Submit", class: "btn btn-primary col-sm-1" %>
    </div>
  <% end %>
</div>

<div class="row">
  <table class="table table-condensed">
    <thead>
    <tr class="warning">
      <th data-field='title'>Title</th>
      <th data-field='body'>Last Updated</th>
      <th data-field="Edit/Delete">Edit/Delete</th>
    </tr>
    </thead>

    <tbody>
    <% @pdfs.each do |pdf| %>
      <tr id="table-row" data-title= "<%= pdf.id %>">
        <td><%= pdf.pdf_file_file_name %></td>
        <td><%= pdf.updated_at.strftime("Updated on %m/%d/%Y %I:%M%p") %></td>
        <td> <%= link_to "Edit", edit_admin_pdf_path(pdf), class: "btn btn-primary" %>
          <%= link_to "Delete", admin_pdf_path(pdf), method: :destroy, class: "btn btn-primary" %> </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
