<div class="mod-heading check">
  <h1>Sign Up</h1>
</div>

<div class="layout-wrap">
  <%= form_for @company, url: companies_path do |f| %>
    <p class="intro">
      Whether you’re an employer, hiring manager, or community leader, all we need is an interest from you in learning more about TechHire, and a passion to find and hire talented employees in your community who are ready to work.
    </p>

    <% if @company.errors.any? %>
      <div class="signup-errors">
        <p>Sorry, we had problems processing that information. Please fix the following issues:</p>
        <ul>
          <% @company.errors.each do |field, message| %>
            <li><strong><%= field %>: </strong><span><%= message%></span></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <%= f.label(:name, "Name (First and Last)") %>
      <%= f.text_field :name, required: true %>
    </div>

    <div class="row">
      <%= f.label(:organization, "Organization") %>
      <%= f.text_field :organization, required: true  %>
    </div>

    <div class="row cols-75-25">
      <div class="col">
        <%= f.label(:organization_type, "Organization Type (select one)") %>
        <%= select_tag "organization_type", options_for_select(@registration.organization_types), id: "org_type" %>
      </div>

      <div class="col" id="org_type_other">
        <%= f.label(:organization_type_other, "Enter:") %>
        <%= text_field_tag :organization_type_other, "",required: true  %>
        <%= f.hidden_field :organization_type %>
      </div>
    </div>

    <div class="row">
      <%= f.label(:title, "Your Title") %>
      <%= f.text_field :title, required: true  %>
    </div>

    <div class="row cols-50-25-25">
      <div class="col">
        <%= f.label(:city, "City") %>
        <%= f.text_field :city, required: true %>
      </div>

      <div class="col">
        <%= f.label(:state, "State") %>
        <%= f.select :state, options_for_select(Company.known_states, @company.state) %>
      </div>

      <div class="col">
        <%= f.label(:zip_code, "Zip Code") %>
        <%= f.text_field :zip_code, required: true %>
      </div>
    </div>

    <div class="row">
      <%= f.label(:email, "Email") %>
      <%= f.text_field :email, type: 'email', required: true  %>
    </div>

    <div class="row">
      <%= f.label(:techhire_involvement, "How would you or your organization like to be involved? (up to 3 sentences)") %>
      <%= f.text_area :techhire_involvement  %>
    </div>

    <div class="row check_box_set">
      <p>
        Please indicate your interest in TechHire (Check all that apply):
      </p>
      <%= f.check_box :interest_hiring %><%= f.label(:interest_hiring, "Employer interested in hiring based on skill and job readiness") %>
      <%= f.check_box :interest_training %><%= f.label(:interest_training, "Training institution interested in preparing students in months not years") %>
      <%= f.check_box :interest_connecting %><%= f.label(:interest_connecting, "Local leader interested in connecting people to jobs with on-ramp programs") %>
      <%= f.check_box :interest_supporting %><%= f.label(:interest_supporting, "Workforce leader/nonprofit interested in supporting job seekers") %>
      <%= f.check_box :interest_community %><%= f.label(:interest_community, "Organization interested in making a commitment to support TechHire community activities") %>
    </div>

    <div class="row button-center">
      <%= f.submit "Sign Up", class: 'button registration-submit' %>
    </div>

  <script>
    $("#new_company").validate();
  </script>
  <% end %>
  <p class="notification">
    *This information may be shared with local and national partners
    that are participating in TechHire.
  </p>
</div>
