<div class="mod-heading check">
  <h1>Sign Up</h1>
</div>

<div class="layout-wrap">
  <%= form_for @company, url: companies_path do |f| %>
    <p class="intro">
      Whether you’re an employer, non-profit, community leader, or private organization, all we need is an interest from you in learning more about TechHire, and a passion to find, train, and employ talented individuals in your community who are ready to work.
    </p>

    <% if @company.errors.any? %>
      <div class="signup-errors">
        <p>
          <strong>Sorry, we had problems processing that information.</strong>
          <br />Please fix the following issues:
        </p>
        <ul>
          <% @company.errors.each do |field, message| %>
            <li><strong><%= field %>: </strong><span><%= message%></span></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <%= f.label(:name, "Name (First and Last)") %>
      <%= f.text_field :name, required: true %>
    </div>

    <div class="row">
      <%= f.label(:title, "Your Title") %>
      <%= f.text_field :title, required: true  %>
    </div>

    <div class="row">
      <%= f.label(:organization, "Organization") %>
      <%= f.text_field :organization, required: true  %>
    </div>

    <div class="row cols-75-25">
      <div class="col">
        <%= f.label(:organization_type, "Organization Type (select one)") %>
        <%= select_tag "organization_type", options_for_select(@registration.organization_types), prompt: 'Click to select...', id: "org_type" %>
      </div>

      <div class="col" id="org_type_other">
        <%= f.label(:organization_type_other, "Enter:") %>
        <%= text_field_tag :organization_type_other, "" %>
        <%= f.hidden_field :organization_type %>
      </div>
    </div>

    <div id="employer_fields">
      <div class="row">
        <%= f.label(:sector, "Sector") %>
        <%= f.text_field :sector %>
      </div>

      <div class="row">
        <%= f.label(:phone, "Phone") %>
        <%= f.text_field :phone %>
      </div>

      <div class="row">
        <%= f.label(:location, "Location where you are seeking skilled employees (you may enter multiple locations)") %>
        <%= f.text_field :location %>
      </div>
    </div>

    <div class="row cols-50-25-25">
      <div class="col">
        <%= f.label(:city, "City") %>
        <%= f.text_field :city, required: true %>
      </div>

      <div class="col">
        <%= f.label(:state, "State") %>
        <%= f.select :state, options_for_select(Company.known_states, @company.state), prompt: "Click to select..." %>
      </div>

      <div class="col">
        <%= f.label(:zip_code, "Zip Code") %>
        <%= f.text_field :zip_code, required: true %>
      </div>
    </div>

    <div class="row">
      <%= f.label(:email, "Email") %>
      <%= f.text_field :email, type: 'email', required: true  %>
    </div>

    <div class="row">
      <%= f.label(:techhire_involvement, "How would you or your organization like to be involved? (up to 3 sentences)") %>
      <%= f.text_area :techhire_involvement %>
    </div>

    <p class="callout">
      Some examples of ways to get involved:
    <p>
    <ul class="checkmark">
      <li>Employers interested in hiring based on skill and job readiness regardless of degree or pedigree</li>
      <li>Training institutions creating clear pathways that lead to better jobs through accelerated programs</li>
      <li>Local leader interested in connecting people to jobs with on-ramp programs</li>
      <li>Workforce leaders/nonprofits interested in supporting job seekers</li>
      <li>Organizations interested in making a commitment to support TechHire community activities</li>
    </ul>

    <div class="row button-center">
      <%= f.submit "Sign Up", class: 'button registration-submit' %>

      <p class="notification">
        *This information may be shared with local and national partners that are participating in TechHire.
      </p>
    </div>

  <% end %>
</div>
