<div class="container">
  <h1>Edit <%=name%> Content</h1>
  <div class="mod-heading tools">
    <h1>Tools/Resources</h1>
  </div>

  <div class="mod-content yellow">
    <div class="layout-wrap">
      <div class="three-columns">
        <div class="col icon-case">
          <%= render partial: "update_form", :locals => {content: @contents[0], style: "height:200px;width:100%;" } %><br/>
        </div>

        <div class="col icon-case">
          <%= render partial: "update_form", :locals => {content: @contents[1], style: "height:200px;width:100%;" } %><br/>
        </div>

        <div class="col icon-case">
          <%= render partial: "update_form", :locals => {content: @contents[2], style: "height:200px;width:100%;" } %><br/>
        </div>
      </div>
    </div>
  </div>

  <div class="mod-content">
    <div class="layout-wrap icon-case">
      <h2>Private Sector Tools</h2>
      <h3>Click a company to find out more about their commitment to TechHire.</h3>
      <div>
        <a href="#" class="content-dropdown-toggle" data-dd-target="#knack-content">
        <img src="/assets/knack_logo.png" alt="knack" class="private-sector-tool-logo"/>
        </a>
      </div>
      <div>
        <a href="#" class="content-dropdown-toggle" data-dd-target="#bwd-content"><img src="/assets/better_weekdays_logo.png" alt="better-weekdays" class="private-sector-tool-logo"/></a>
      </div>
      <div>
        <a href="#" class="content-dropdown-toggle" data-dd-target="#linkedin-content"><img src="/assets/linkedin_logo.jpg" alt="linkedin" class="private-sector-tool-logo"/></a>
      </div>
      <div>
        <a href="#" class="content-dropdown-toggle" data-dd-target="#ceb-content"><img src="/assets/ceb_logo.png" alt="ceb" class="private-sector-tool-logo"/></a>
      </div>


      <div class="col">
        <div class="content-dropdown" id="knack-content">
          <h3>Business Apps for TechHire Community Members</h3>
          <p>As a proud supporter of the White House TechHire initiative, <strong><a href="https://www.knack.it/" target="_blank">Knack</a></strong> made the commitment to provide the Knack Business App completely free to any employer, coding school, or community ready to identify, train, and hire job-seekers who are underrepresented in the tech field—minorities, women, veterans and economically and socially disadvantaged individuals—even if they have no higher education or work experience.</p>
          <div class="two-columns">
            <div class="col">
              <p>Knack makes smart mobile games that combine game theory, behavioral science, and proprietary big data algorithms to change the way people of all walks of life discover and broadcast their talents and tap into their potential.</p>
              <p>Knack not only helps job-seekers pinpoint their "knacks"—their skills, abilities, and strengths—all from the way they play Knack's mobile games, but it also matches them with job opportunities tailored to one's potential for success on the job, aiming to replace the traditional credentials and job experience requirements that erect barriers for many high-potential, but low-credentialed individuals.</p>
            </div>

            <div class="col">
              <p>Knack offers two apps:</p>

              <ol class="bulleted">
                <li><strong>What's Your Knack?</strong> uses smart mobile games to help job-seekers discover and broadcast their knacks and identify matching job opportunities based on their potential for success on the job.</li>
                <li><strong>Knack Business App</strong> helps employers attract, engage and spot high-potential individuals who've got the knack to do the job—even if they don't have higher education credentials or job experience.</li>
              </ol>

              <p>Leading Fortune 500 employers in the US and around the world, and numerous small and medium size businesses in every industry, have adopted Knack and are on the path to changing the way they spot high-potential talent.</p>
            </div>
          </div>
        </div>

      </div>
      <div class="col">
        <div class="content-dropdown" id="bwd-content">
          <h3>Career Management Platform for TechHire Community Members</h3>
          <p><strong><a href="http://www.betterweekdays.com/" target="_blank">Better Weekdays</a></strong> is a St. Louis based job-matching platform that helps universities improve job placement outcomes of its graduates, and companies to hire them based on job compatibility and culture fit.</p>
          <p>Better Weekdays has committed to providing its pay-walled web and mobile career management platform free of charge for colleges and universities, Local Leaders, and other partners in TechHire communities to leverage and facilitate connections between employers and job seekers.</p>
          <p>The service will feature a dashboard that connects job seekers to resources to prepare for gainful employment, and allows employers to showcase their brands in a meaningful way to aspiring employees.</p>
        </div>
      </div>

      <div class="col">
        <div class="content-dropdown" id="linkedin-content">
          <h3>Economic Analysis to Aid Career Development</h3>
          <p>
          <a href="http://linkedin.com" target="_blank">LinkedIn</a> will draw from its Economic Graph data and work with interested communities to 1) help job seekers decide where to focus their skills development, 2) assist community partners to focus on the jobs that are most in-demand, and to 3) identify the workforce gaps to prepare for future investments.
          </p>
          <p>
          This may also include working with partners to track the career outcome of bootcamp and accelerator graduates, and working on curriculum development.
          </p>
          <p>
          LinkedIn will also work in support of the TechHire initiative to find better ways to connect talent to training programs and job seekers to employers.
          </p>
        </div>
      </div>

      <div class="col">
        <div class="content-dropdown" id="ceb-content">
          <h3>Recruitment Guidance for Employers</h3>
          <p>
          <a href="http://www.executiveboard.com/" target="_blank">CEB</a> will develop their own best practices playbook for employers with CEB guidance to private and public employers on how to recruit tech talent from non-traditional sources.
          </p>
          <p>
          CEB will also provide free labor market snapshots from CEB Talent Neuron to select communities involved in the TechHire Initiative in order to surface job and skill segments where talent supply-demand gaps create opportunity for local workforce innovation.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="mod-content yellow">
    <div class="layout-wrap icon-sheet">
      <div class="col">
          <%= render partial: "update_form", :locals => {content: @contents[4], style: "height:200px;width:100%;" } %><br/>
      </div>
    </div>
  </div>

  <div class="mod-content">
    <div class="layout-wrap">
      <div class="col">
          <%= render partial: "update_form", :locals => {content: @contents[5], style: "height:200px;width:100%;" } %><br/>
      </div>
    </div>
  </div>
</div>
