<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h1><%= @company.organization %></h1>
      <p class="lead">
          Added by <a href="#"><%= @company.name %></a>
      </p><hr>
      <p><span class="glyphicon glyphicon-time"></span> Last Update at <%= @company.updated_at %></p><hr>
      <div class="col-sm-5">
        Location: <h4><%= @company.city %>, <%= @company.state %></h4>
      </div>
      <div class="col-sm-5">
        Looking to hire: <h4><%= @company.hire_count %></h4>
      </div>
    </div>
  </div>
</div>