<div class="form-group">
  <%= f.label(:name, "Name (First and Last)") %>
  <%= f.text_field :name, required: true %><br>
</div>
<div class="form-group">
  <%= f.label(:organization, "Organization") %>
  <%= f.text_field :organization, required: true  %><br>
</div>
<div class="form-group">
  <%= f.label(:title, "Title") %>
  <%= f.text_field :title, required: true  %><br>
</div>
<div class="form-group">
  <%= f.label(:state, "State") %>
  <%= f.select :state, options_for_select(state_helper, @company.state) %>
</div>
<div class="form-group">
  <%= f.label(:city, "City") %>
  <% cache @cities do %>
  <%= f.grouped_collection_select :city, State.all, :usa_cities, :abbr, :name, :name %><br>
  <% end %>
</div>
<div class="form-group">
  <%= f.label(:email, "Email") %>
  <%= f.text_field :email, type: 'email', required: true  %><br>
</div>
