<h1>Words</h1>
<div class="signup">
  <%= form_for @company, url: {action: "create"} do |f| %>
  <%= f.label(:name, "Name (First and Last)") %><br>
  <%= f.text_field :name %><br>
  <%= f.label(:organization, "Organization") %><br>
  <%= f.text_field :organization %><br>
  <%= f.label(:title, "Title") %><br>
  <%= f.text_field :title %><br>
  <%= f.label(:state, "State") %>
  <%= f.select :state, options_for_select(state_helper), placeholder: "AL" %>
  <%= f.label(:city, "City") %>
  <%= f.select :city, options_for_select(city_helper), placeholder: "Please select..." %><br>
  <%= f.label(:email, "Email") %>
  <%= f.text_field :email %><br>
  <%= f.submit "Create techHire account" %>
 <% end %>
 </div>
