  <hr>
    <div class="row">
      <div class="panel panel-primary filterable">
        <div class="panel-heading">
          <h3 class="panel-title">Companies Not Yet Contacted</h3>
          <div class="pull-right">
            <%= will_paginate @uncontacted_companies %>
            <table class="table">
              <thead>
                <tr class="filters">
                  <th><input type="text" class="form-control" placeholder="Org" disabled></th>
                  <th><input type="text" class="form-control" placeholder="Contact" disabled></th>
                  <th><input type="text" class="form-control" placeholder="Title" disabled></th>
                  <th><input type="text" class="form-control" placeholder="Email" disabled></th>
                  <th><input type="text" class="form-control" placeholder="Signed Up" disabled></th>
                </tr>
              </thead>
              <tbody>
                <% @uncontacted_companies.each do |company| %>
                  <tr class="table-values">
                    <td class="Organization"><%= link_to company.organization,
                        admin_company_path(company.id) %></td>
                    <td class="contact"><%= company.name %></td>
                    <td class="contact-title"><%= company.title %></td>
                    <td class="email"><%= company.email %></td>
                    <td class="signed_up"><%= distance_of_time_in_words(company.updated_at, Time.now) %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
