<footer class="mod-footer" role="contentinfo">
  <div class="layout-wrap">
    <div class="about">
      <address>
        <b>Opportunity<span class="opportunity-at">@</span>Work</b>
        <br>
        1899 L Street N.W.
        <br>
        Washington DC 20036
      </address>
      <p class="payoff">Opportunity<span class="opportunity-at">@</span>Work is a civic enterprise based at New America whose mission is to re-wire the U.S. labor market to enable more Americans to achieve upward mobility in the job market and workplace.
        </p>
      <p class="payoff">Site made in Denver by students from the <a href="http://turing.io">Turing School of Software and Design</a></p>
    </div>
    <nav class="sitemap">
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Learn More", learn_more_path %></li>
        <li><%= link_to "Where is TechHire", techhire_locations_path %></li>
        <li><%= link_to "Tools/Resources", tools_resources_path %></li>
        <li><%= link_to "Sign Up", signup_path %></li>
      </ul>
    </nav>
    <div class="contact">
      <ul class="social">
        <li><%= link_to 'Twitter', 'https://twitter.com/OpptyatWork', class: 'twitter'%></li>
        <li><%= link_to 'Facebook', 'https://www.facebook.com/opportunityatwork', class: 'facebook'%></li>
      </ul>
      <p><%= link_to "#TechHire", "https://twitter.com/search?q=%23TechHire", target: "_blank" %></p>
      <span> Contact us: </span>
      <%= link_to 'info@opportunityatwork.org', 'mailto:info@opportunityatwork.org' %>
    </div>
  </div>
</footer>
